/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2016, 18:41:55
    Author     : 47864418S
*/

#gameScreen {
    background-image: url("Space.jpg");
    border-radius: 20px;
    height: 500px;
    overflow: hidden;
}

#spaceShip {
    background-image: url("spaceship_100.png");
    width: 100px;
    height: 100px;
    position: absolute;
}

.enemy {
    position: absolute;
    left: 1170px;
}